<form id="login" method="post">
	<p><input name="username" type="text">Username</input></p>
	<p><input name="password" type="text">Password</input></p>
	<p><input name="Submit" type="submit"/></p>
</form>