<form id="messenger" method="post">
	<p><textarea name="message" rows=10 cols=60>Enter message here</textarea></p>
	<p><input name="subject" type="text" /></p>
	<p><input name="recipients" type="text" /></p>
	<p><input name="Submit" type="submit" /></p>
</form>

{{ message }}